{% extends 'photo_app/main.html' %}
{% load static %}
{% block content %}
    <div class="login-container vh-100 flex py-7 inverted">
        <div class="policy-modal">
            <h1>Accessibility Statement</h1>
            <p class = "lead">Accessibility Statement:</p>
            <p class = "lead">
                We are committed to making our website accessible to all users, including those with disabilities. We strive to comply with the Web Content Accessibility Guidelines (WCAG) 2.1 level AA standards to ensure a seamless browsing experience for everyone.
            </p>
            <p class = "lead">
                If you encounter any accessibility barriers while using our website or have any suggestions for improvement, please contact us at <a href="mailto:info@stephen.photography">info@stephen.photography</a>. Your feedback is invaluable in enhancing the accessibility of our site.
            </p>
        </div>
    </div>
{% endblock content %}