{% extends 'photo_app/main.html' %}
{% load static %}
{% block content %}
    <div class="login-container vh-100 flex py-7 inverted">
        <div class="policy-modal">
            <h1>Privacy Policy</h1>
            <p class = "lead">
                At Stephen Lawson Photography, we value your privacy and are committed to protecting your personal information. This Privacy Policy outlines how we collect, use, and safeguard your data when you interact with our website and services.
            </p>
            <p class = "lead">Information Collection and Use:</p>
            <p class = "lead">
                We collect your name, email address, and other relevant details when you sign up for an account or fill out our contact form.
                Your data is used to provide you with access to your photo gallery, respond to your inquiries, and enhance our services.
                We do not sell, rent, or share your personal information with third parties without your explicit consent.
            </p>
            <p class = "lead">Data Security:</p>
            <p class = "lead"> 
                We employ industry-standard security measures to protect your data from unauthorized access, alteration, or disclosure.
            </p>
            <p class = "lead">Data Retention:</p>
            <p class = "lead">
                Your personal information will be retained only as long as necessary to fulfill the purposes for which it was collected.
            </p>
        </div>
    </div>
{% endblock content %}