{% extends 'admin/change_form.html' %}
{% load i18n admin_urls %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    {% if show_send_button %}
    <div class="submit-row">
        <input type="button" value="Send Campaign" 
               onclick="if (confirm('Are you sure you want to send this campaign?')) { 
                   window.location.href='send/'; 
               }"
               style="background-color: #417690; color: white; margin-left: 8px;">
    </div>
    {% endif %}
{% endblock %}